---
- import_playbook: "/srv/web/infra/ansible/playbooks/include/happy_birthday.yml"
  vars:
    myhosts: "buildhw:bkernel"

- name: make koji builder(s) on raw hw
  hosts: buildhw:bkernel
  remote_user: root
  gather_facts: true

  vars_files:
    - /srv/web/infra/ansible/vars/global.yml
    - "/srv/private/ansible/vars.yml"
    - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  pre_tasks:
  - import_tasks: "{{ tasks_path }}/yumrepos.yml"

  roles:
  - base
  - hosts
  - { role: openvpn/client, when: datacenter != "online" }
  - { role: nfs/client, mnt_dir: '/mnt/rpmfusion_koji', nfs_src_dir: "{{ koji_hub_nfs }}", when: koji_hub_nfs is defined }
  - koji_builder

  - role: bkernel
    when: "'bkernel' in group_names"

#  - { role: linux-system-roles.nbde_client, when: "inventory_hostname.startswith(('bkernel', 'buildhw'))" }
#  - { role: serial-console, when: "inventory_hostname.startswith(('bkernel', 'buildhw-x86'))" }
  - hosts
# - ipa/client
  - role: sudo

  tasks:
  - name: make sure kojid is running
    service: name=kojid state=started enabled=yes

  handlers:
  - import_tasks: "{{ handlers_path }}/restart_services.yml"
