# create a new dns server

---
- import_playbook: "/srv/web/infra/ansible/playbooks/include/virt-create.yml"
  vars:
    myhosts: "dns"

- name: Make the box be real
  hosts: dns
  user: root
  gather_facts: true

  vars_files:
    - /srv/web/infra/ansible/vars/global.yml
    - "/srv/private/ansible/vars.yml"
    - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  roles:
  - base
  - hosts
  - rkhunter
  - nagios_client
  - { role: openvpn/client,
      when: datacenter != 'ovh' }
  - ipa/client
  - collectd/base
  - collectd/bind
  - rsyncd
  - sudo
  - dns

  pre_tasks:
  - import_tasks: "{{ tasks_path }}/yumrepos.yml"

  handlers:
  - import_tasks: "{{ handlers_path }}/restart_services.yml"
