# create a new mariadb database server system
# NOTE: should be used with --limit most of the time
# NOTE: most of these vars_path come from group_vars/backup_server or from hostvars

---
- import_playbook: "/srv/web/infra/ansible/playbooks/include/virt-create.yml"
  vars:
    # See: https://yaml-multiline.info/
    myhosts: "bugzilla02.ovh.rpmfusion.net"

# Once the instance exists, configure it.

- name: Configure mariadb server system
  hosts: "bugzilla02.ovh.rpmfusion.net"
  user: root
  gather_facts: true

  vars_files:
    - /srv/web/infra/ansible/vars/global.yml
    - "/srv/private/ansible/vars.yml"
    - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  roles:
  - base
  - rkhunter
  - ipa/client
  - nagios_client
  - hosts
  - mariadb_server
  - collectd/base
  - sudo

  pre_tasks:
  - import_tasks: "{{ tasks_path }}/yumrepos.yml"
# TODO: add iscsi task

  handlers:
  - import_tasks: "{{ handlers_path }}/restart_services.yml"
