---
- name: Gather ssh host key from new instance
  local_action: command ssh-keyscan -t rsa {{ inventory_hostname }}
  ignore_errors: true
  register: hostkey
  when: birthday is defined

- name: Include basessh
  include_role: name=basessh
  when: birthday is defined
