---
- name: Include vars/all/
  include_vars:
    dir: /srv/web/infra/ansible/vars/all/
    ignore_files: [README]
  tags:
  - config
  - packages
  - yumrepos

- name: Enable repos for archived Fedora releases
  set_fact:
    archive_if_archived: >-
      {{
        '/archive'
        if ansible_distribution_major_version|int < (
          FedoraPreviousPreviousCycleNumber|int
          if FedoraPreviousPrevious == True
          else FedoraPreviousCycleNumber|int
        )
        else ''
      }}
  when: ansible_distribution == 'Fedora'
  tags:
  - config
  - packages
  - yumrepos

- name: Add infrastructure tags repo - RHEL
  ansible.builtin.copy: src="{{ files }}/common/rhel-infra-tags.repo" dest="/etc/yum.repos.d/infra-tags.repo"
  when: ((ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS') and ansible_distribution_major_version|int < 10)
  tags:
  - config
  - packages
  - yumrepos

- name: Add infrastructure STAGING tags repo - RHEL
  ansible.builtin.copy: src="{{ files }}/common/rhel-infra-tags-stg.repo" dest="/etc/yum.repos.d/infra-tags-stg.repo"
  when: (ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS') and env in ['staging', 'pagure-staging'] and ansible_distribution_major_version|int < 10
  tags:
  - config
  - packages
  - yumrepos

- name: Add infrastructure tags repo - Fedora
  ansible.builtin.copy: src="{{ files }}/common/fedora-infra-tags.repo" dest="/etc/yum.repos.d/infra-tags.repo"
  when: ansible_distribution == 'Fedora'
  tags:
  - config
  - packages
  - yumrepos

- name: Add infrastructure STAGING tags repo - Fedora
  ansible.builtin.copy: src="{{ files }}/common/fedora-infra-tags-stg.repo" dest="/etc/yum.repos.d/infra-tags-stg.repo"
  when: ansible_distribution == 'Fedora' and env in ['staging', 'pagure-staging']
  tags:
  - config
  - packages
  - yumrepos

- name: Make sure older infrastructure tags repos no longer exist
  ansible.builtin.file: path="/etc/yum.repos.d/{{item}}" state=absent
  with_items:
  - fedora-modular.repo
  - fedora-updates-modular.repo
  - fedora-updates-testing-modular.repo
  - fedora-infra-tags.repo
  - fedora-infra-tags-stg.repo
  - rhel-infra-tags.repo
  - rhel-infra-tags-stg.repo
  - infrastructure.repo
  - infrastructure-testing.repo
  tags:
  - config
  - packages
  - yumrepos

# when batcave01 is on a newer ansible we won't need python3-dnf but
# we *will* need python3-rpm (package_facts fails without it)
- name: Ensure that python3-dnf is installed (needed till ansible on batcave01 supports dnf5)
  when: "ansible_distribution == 'Fedora' and ansible_distribution_major_version|int > 40 and ansible_cmdline.ostree is not defined"
  block:
    - name: Check whether python3-dnf is installed
      ansible.builtin.command: "rpm -q python3-dnf"
      register: p3dnf
      failed_when: "1 != 1"
      changed_when: "1 != 1"
      check_mode: no

    - name: Install python3-dnf with direct dnf command
      ansible.builtin.command: "dnf -y install python3-dnf"
      when: "p3dnf.rc != 0"

- name: Remove cisco repository to avoid issues with it, nothing in infra needs it
  ansible.builtin.copy:
    content: '# Unneeded, causes problems sometimes, and builders especially should use no external data'
    dest: /etc/yum.repos.d/fedora-cisco-openh264.repo
  when: "ansible_distribution == 'Fedora'"

- name: Put RabbitMQ CentOS-9 SIG repos on el systems
  ansible.builtin.copy: src="{{ files }}/common/centos9s-rabbitmq38.repo" dest="/etc/yum.repos.d/centos9s-rabbitmq38.repo"
  when: inventory_hostname.startswith('rabbitmq') and (ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS') and ansible_distribution_major_version|int == 9
  tags:
  - config
  - packages
  - yumrepos

- name: Put RabbitMQ CentOS-9 SIG gpg key on el systems
  ansible.builtin.copy: src="{{ files }}/common/RPM-GPG-KEY-CentOS-SIG-Messaging" dest="/etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Messaging"
  when: inventory_hostname.startswith('rabbitmq') and (ansible_distribution == 'RedHat' or ansible_distribution == 'CentOS') and ansible_distribution_major_version|int == 9
  tags:
  - config
  - packages
  - yumrepos
