[web]
SiteName = koji
#KojiTheme = mytheme

# Key urls
{% if env == 'staging' %}
KojiHubURL = http://koji.stg.rpmfusion.org/kojihub
KojiFilesURL = https://kojipkgs.stg.rpmfusion.org/
{% elif inventory_hostname == 's390-koji01.qa.rpmfusion.org' %}
KojiHubURL = http://s390.koji.rpmfusion.org/kojihub
KojiFilesURL = http://s390.koji.rpmfusion.org/kojifiles
{% elif inventory_hostname == 'arm-koji01.qa.rpmfusion.org' %}
KojiHubURL = http://arm.koji.rpmfusion.org/kojihub
KojiFilesURL = http://arm.koji.rpmfusion.org/kojifiles
{% else %}
KojiHubURL = http://koji.rpmfusion.org/kojihub
KojiFilesURL = http://koji.rpmfusion.org/kojifiles
{% endif %}

# SSL authentication options
WebCert = /etc/pki/tls/private/kojiweb_cert_key.pem
ClientCA = /etc/pki/tls/certs/upload_cacert.pem
KojiHubCA = /etc/pki/tls/certs/extras_cacert.pem

LoginTimeout = 72

# This must be changed and uncommented before deployment
Secret = {{ kojiSecret }}

LibPath = /usr/share/koji-web/lib

loginDisabled = True
