---
- name: Set up those proxy websites.  My, my..
  hosts: proxies_stg:proxies
  user: root
  gather_facts: true

  vars_files:
    - /srv/web/infra/ansible/vars/global.yml
    - "/srv/private/ansible/vars.yml"
    - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  handlers:
  - import_tasks: "{{ handlers_path }}/restart_services.yml"

  tasks:
  - name: Create /srv/web/ for all the goodies.
    ansible.builtin.file: dest=/srv/web state=directory owner=root group=root mode=0755
    tags:
    - httpd
    - httpd/website

  - name: Check the selinux context of webdir
    ansible.builtin.command: matchpathcon /srv/web
    register: webdir
    check_mode: no
    changed_when: "1 != 1"
    tags:
    - config
    - selinux
    - httpd
    - httpd/website

  - name: /srv/web file contexts
    ansible.builtin.command: semanage fcontext -a -t httpd_sys_content_t "/srv/web(/.*)?"
    when: webdir.stdout.find('httpd_sys_content_t') == -1
    tags:
    - config
    - selinux
    - httpd
    - httpd/website

  roles:

  - role: httpd/website
    site_name: rpmfusion.org
    sslonly: true
    cert_name: "{{wildcard_cert_name}}"
    server_aliases:
    - stg.rpmfusion.org
    - localhost
    - www.rpmfusion.org
    - hotspot-nocache.rpmfusion.org

  - role: httpd/website
    site_name: admin.rpmfusion.org
    server_aliases: [admin.stg.rpmfusion.org]
    sslonly: true
    cert_name: "{{wildcard_cert_name}}"


  - role: httpd/website
    site_name: mirrors.rpmfusion.org
    server_aliases:
    - mirrors.stg.rpmfusion.org
    cert_name: "{{wildcard_cert_name}}"

  - role: httpd/website
    site_name: "mirrormanager{{ env_suffix }}.rpmfusion.org"
    sslonly: true
    cert_name: "{{wildcard_cert_name}}"
    tags:
      - mirrormanager

  - role: httpd/website
    site_name: src.rpmfusion.org
    server_aliases: [src.stg.rpmfusion.org]
    cert_name: "{{wildcard_cert_name}}"
    sslonly: true
    use_h2: true
    tags: src.rpmfusion.org

  - role: httpd/website
    site_name: download0.rpmfusion.org
    server_aliases:
    - download1.rpmfusion.org
    cert_name: "{{wildcard_cert_name}}"

  - role: httpd/website
    site_name: koji.rpmfusion.org
    sslonly: true
    server_aliases:
    - koji.stg.rpmfusion.org
    - kojipkgs.stg.rpmfusion.org
    - buildsys.rpmfusion.org
    cert_name: "{{wildcard_cert_name}}"

  - role: httpd/website
    site_name: kojipkgs.rpmfusion.org
    sslonly: true
    server_aliases:
    - kojipkgs01.rpmfusion.org
    - kojipkgs02.rpmfusion.org
    cert_name: "{{wildcard_cert_name}}"
    use_h2: false
    tags:
    - kojipkgs.rpmfusion.org


  - role: httpd/website
    site_name: pdc.rpmfusion.org
    server_aliases: [pdc.stg.rpmfusion.org]
    sslonly: true
    gzip: true
    cert_name: "{{wildcard_cert_name}}"


  - role: httpd/website
    site_name: retrace.rpmfusion.org
    server_aliases: [retrace.stg.rpmfusion.org]
    sslonly: true
    cert_name: "{{wildcard_cert_name}}"
    when: env == "staging"

  - role: httpd/website
    site_name: lists.rpmfusion.org
    server_aliases: [lists.stg.rpmfusion.org]
    sslonly: true
    cert_name: "{{wildcard_cert_name}}"
    tags: lists.rpmfusion.org

  - role: httpd/website
    site_name: "id{{ env_suffix }}.rpmfusion.org"
    sslonly: true
    cert_name: rpmfusion
    stssubdomains: false
    tags:
    - id.rpmfusion.org

  - role: httpd/website
    site_name: "sso{{ env_suffix }}.fedoraproject.org"
    sslonly: true
    cert_name: "{{wildcard_cert_name}}"
    tags:
    - sso.fedoraproject.org

  - role: httpd/website
    site_name: username.id.rpmfusion.org
    server_aliases:
    - "*.id.rpmfusion.org"
    # Must not be sslonly, because example.id.fedoraproject.org must be reachable
    # via plain http for openid identity support
    sslonly: false
    cert_name: wildcard-2024.id.rpmfusion.org
    SSLCertificateChainFile: wildcard-2024.id.rpmfusion.org.intermediate.cert
    tags:
    - id.rpmfusion.org
    when: env == "production"

  - role: httpd/website
    site_name: pkgs.rpmfusion.org
    ssl: true
    sslonly: true
    certbot: true
    certbot_addhost: pkgs02.ovh.rpmfusion.net
    tags:
    - pkgs.rpmfusion.org
    when: env == "production" and "ovh" in inventory_hostname


